$font-family-san-serif:'Roboto',san-serif;
$font-primary:'Roboto',san-serif;
$font-secondary: 'Roboto',san-serif;

@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i|Roboto:400,400i,700,700i');
$primary: #202e5f;
$secondary: #bd9941;
$breadcrumb-bg:transparent;
$breadcrumb-active-color:$primary;
$headings-font-family:$font-secondary;
$headings-color:$primary;
$headings-font-weight:700;
.breadcrumb{
    font-style: italic;
}
.breadcrumb-item.active{
    font-style: normal;
    font-weight:700;
}

@import "node_modules/bootstrap/scss/bootstrap";

@import "layout.scss";
@import "layout-mobile.scss";
@import "navmenu.scss";
@import "hamburger.scss";