@include media-breakpoint-down(sm){
    #header{
        position:absolute;
        top:0;
        left:0;
        width:100%;
    }
    #content{
        position:static;
        overflow:unset;
        margin-bottom:0;
        .content__inner{
            padding-top:0;
        }
    }
    #footer{
        position:relative;
        .footer-inner{
            flex-direction:column;
            align-items: center;
            justify-content: center;
            height:auto;
        }
        .footer__logo{
            width:100%;
            padding:0 30%;
            img{
                width:100%;
                height:auto;
            }
        }
        .footer__socialmedia{
            width:90%;
            border:0;
            padding:0;
            padding-top:20px;
            text-align:center;
        }
        .footer__socialmedia__list{
            align-items:center;
            justify-content:center;
        }
        .footer__contact{
            width:100%;
        }
        .footer__contact__list{
            display: flex;
            flex-direction:column;
            align-items:center;
        }
    }
    .homepage{
        .content__box{
            padding-top: 100px;
        }
    }
}
@include media-breakpoint-down(md){
    .homepage{
        #content{
            background-position:left;
        }
        .content__box{
            padding-right: 0%;
            background-image:none;
            height:auto;
        }
    }
    .contactpage{
        #content {
            .content__inner{
                height:auto;
                padding-top:100px;
                padding-bottom:100px;
            }
        }
    }
}