$header-height:80px;
$header-font-color:#fff;
$footer-height:160px;

#wrapper {
    width: 100%;
    min-height: 100%;
}

#header {
    position: relative;
    z-index: 1001;
    height: $header-height;
    transition: all .3s ease;
    background-color: transparent;
    color: $primary;
    display: flex;
    align-items: center;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    color: #fff;
    background: $primary;
}

#content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/page-bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom:$footer-height;
    overflow:auto;

    .content__inner{
        padding-top:$header-height;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .grid-style{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
    }
}

// =========== Header ================
#header {
    .header-inner {
        display: flex;
        width: 100%;
        position: relative;
    }

    .header-right {
        margin-left: auto;
    }

    .header-nav {
        margin-left: .5rem;
        padding: 0;
    }
}

// =========== Footer ================
#footer {
    background:#000;

    .footer-inner {
        display: flex;
        height: $footer-height;
        padding: 20px 0px;
    }

    .footer__logo{
        width:40%;
        text-align:center;
        img {
            height:100%;
            width:auto;
        }
    }
    .footer__socialmedia{
        width:30%;
        border-left:1px solid #fff;
        padding-left:5%;
    }
    .footer__contact{
        width:30%;
    }

    .footer__socialmedia__list {
        display: flex;
        margin: 0 -4px;
        padding: 8px 0px;
    }

    a.footer__socialmedia__link,
    a.footer__socialmedia__link:link,
    a.footer__socialmedia__link:visited {
        width: 30px;
        height: 30px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 4px;
        color: #000;
        background-color: #fff;
        border-radius:5px;
    }

    a.footer__socialmedia__link:focus,
    a.footer__socialmedia__link:hover,
    a.footer__socialmedia__link:active {
        color: #fff;
        background-color: #cd2027;
        text-decoration: none;
    }

    .footer__contact__list {
        padding: 8px 0px;
    }

    .footer__contact__item {
        display: flex;
        align-items: center;
        padding-bottom: 5px;
        color:#fff;
    }

    .footer__contact__item__icon {
        color: #fff;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        font-size: 15px;
        margin-right: 10px;
    }

    .footer__contact__item__text {
        font-size:14px;
        line-height: 16px;
    }
}

// ============= Page ================
.content__page{
    display:none;
    width:100%;
}
.homepage {
    .content--homepage{display:block;}
    .content__box {
        background-image: url(../img/human.png);
        background-position: right bottom;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        padding-top: 5%;
        padding-right: 40%;
    }

    .content__logo {
        padding: 0 25%;
        padding-top:5%;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        height: 30%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        background-image:url(../img/logo.png)
    }

    .content__yongchun {
        padding: 0 0%;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 30%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        background-image:url(../img/font-yongchun.png)
    }

    .content__button {
        background-image: url(../img/font-contact.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 80px 25px;
        width: 120px;
        height: 40px;
        display: block;
        border: 2px solid #000;
        border-radius: 5px;
        margin: auto;
        margin-top: 30px;
    }
}

.contactpage{
    .content--contactpage{
        display:block;
        width:100%;
    }
    .content__title{
        width: 60%;
        height: 110px;
        background: url(../img/font-classdetail.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
    }
    .content__box{
        width:100%;
        position:relative;
        padding: 8% 15% 4% 15%;
        background-image: linear-gradient(rgb(88,89,91) 4px, transparent 0), 
                        linear-gradient(rgb(88,89,91) 4px, transparent 0), 
                        linear-gradient(to left, rgb(88,89,91) 4px, transparent 0), 
                        linear-gradient(to right, rgb(88,89,91) 4px, transparent 0), 
                        linear-gradient(to top, rgb(88,89,91) 4px, transparent 0);
        background-position: 0 0, 100% 0, 0 0;
        background-size: 15%, 15%, 100%, 100%, 100%;
        background-repeat: no-repeat;
    }
    #content {
        background-image: url(../img/subpage-bg.png);

        .content__inner{
            height:auto;
            padding-top:100px;
            padding-bottom:100px;
        }
    }
}