#header{
    .nav-menu { list-style: none; padding:0; margin:0;position: relative; }
    .nav-menu li {position:relative;}
    .nav-menu a,
    .nav-menu a:link,
    .nav-menu a:hover { text-decoration: none; }
    .nav-menu > li > a{
        color:#000;
        font-family:$font-primary;
        letter-spacing: 2px;
        width:100%;
        display:flex;
    }
    .nav-one{
        display:flex;
    }
    .nav-one > li.nav-splitter{
        border-right: 1px solid #000;
        height: 20px;
        margin-top: 10px;
    }
    .nav-one > li > a{
        padding:.5rem 2rem;
    }
    

    // Hover section
    .nav-one > li > a.active,
    .nav-one > li > a:hover{
        text-decoration: underline;
    }
}